---
# - name: Create users
#   include_tasks: create_users.yml
#   loop: "{{ user_details }}"

# - name: Configure Machine
#   import_tasks: configure_machine.yml

# - name: Update machine
#   import_tasks: update_machine.yml

# - name: Install essentials
#   import_tasks: install_essentials.yml

# - name: Install node exporter
#   import_tasks: install_node_exporter.yml
#   when: node_exporter|default(false)|bool == true

# - name: Install promtail
#   import_tasks: install_promtail.yml
#   when: promtail|default(false)|bool == true

- name: Install Cosmos Dependencies
  import_tasks: install_cosmos_dependencies.yml
  when: cosmovisor|default(false)|bool == true

# - name: Check if agent file exists
#   stat:
#     path: "{{ zabbix_file }}"
#   register: agent_file_check

# - name: Install Zabbix
#   import_tasks: install_zabbix.yml
#   when: agent_file_check.stat.islnk is not defined

# - name: Check if swap enabled already enabled
#   command: swapon --show
#   register: swap_status_result
#   changed_when: false

# - name: Setup Swap
#   import_tasks: setup_swap.yml
#   when: not swap_status_result.stdout is search("/swapfile")
